    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About me</h2>
                <p>Hi, there! My name is Andrei and I'm an software engineer, more ore less. <br>
                    A computer programmer creates the code for software applications and operating systems.<br>
                    I love Kotlin (the language), I'm passionate about C# and I try to do my best with Java ...<br>
                    I'm that kind of a guy who is good at 'computers' (software and hardware) and that's all about me. What about you, bro?! :) .</p>
                <p>To be continued ...</p>
            </div>
        </div>
    </section>
