    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>See my resume (PDF or APK)</h2>
                    <a onclick="window.open('https://andreipaciurca.github.io/resume/resume.html', '_blank' ); location.reload();" class="btn btn-default btn-lg">Curriculum vitae</a>
                    <a onclick="window.open('https://drive.google.com/open?id=1F6Y52ql5dza684GShRbFhVcoK40dHviP', '_blank' ); location.reload();" class="btn btn-default btn-lg">[Download] APK</a>
                </div>
            </div>
        </div>
    </section>
