    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Resume and Portfolio</h2>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="/resume/resume.html" target="_blank" rel="noopener noreferrer" class="btn btn-default btn-lg" aria-label="View Resume">
                            <i class="fa fa-address-card-o" aria-hidden="true"></i> Resume</a>
                        </li>
                        &nbsp; &nbsp;
                        <li>
                            <a href="/portfolio/portfolio.html" target="_blank" rel="noopener noreferrer" class="btn btn-default btn-lg" aria-label="View Portfolio">
                                <i class="fa fa-briefcase" aria-hidden="true"></i> Portfolio
                            </a>
                        </li>
                </ul>
                </div>
            </div>
        </div>
    </section>
