<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="{{ site.description }}"/>
    <meta name="author" content="Paciurca Andrei-Alexandru"/>
    <meta name="google-site-verification" content="fsCCLd5d9HIYW_Kgj43h8pE8NrVUfjzk2YvhxI92Ntk" />
    <meta name="keywords" content="Paciurca Andrei Portfolio" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
    <link rel="icon" type="image/png" href="/favicon.png">
    <!--[if IE]><link rel="icon" type="image/png" href="/favicon.png"><![endif]-->
    <!--<link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}" />-->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}" media="none" onload="if(media!='all')media='all'" />
    <noscript>
        <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}" />
    </noscript>

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}" />
    <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Analytics -->
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
</head>